
.header {
    display: flex;
    justify-content: space-between;
    padding-inline: 1.20rem;
    padding-block: 1em;
    align-items: center;
}

.header_logo{
    font-size: 50px;
    font-weight: 500;
    
}
.nav_ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 15px;
}
.nav_link{
    color: rb(255, 255, 255);
    text-decoration: none;
}