.bg{
    background: linear-gradient(rgb(99, 248, 0),rgb(3, 3, 202));

.hero{
    display: flex;
    padding-inline: 1.25em;
    padding-top: 1.5rem;
    max-width: 1280px;
    margin: auto;
}
    
}

.hero_left{
    flex: 1;

}

.hero_right{

    flex: 1;

}

.hero_title {
    font-size: 3.1rem;
    font-weight: 800;
    letter-spacing: -0.04em;
    max-width: 13em;
}
.lineone_hero{
    font-size: 12px;
    opacity: 0.8;
    line-height: calc(1em + 0.5rem);
    margin-block: 1.5em;
    max-width: 140ch;
}
.hero_btn{
    background: linear-gradient(to right,red,blue);
    border-radius: 8px;
    padding: 0.5em 1em;
    
}

/*here is right*/

.hero_img {

    max-width: 300px;
    margin-left: 100px; 

}